<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <strong><%= link_to  "Private Events", events_index_path, class:"navbar-item is-active" %></strong>
      
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <%= link_to  "My Events", users_show_path, class:"navbar-item" %>
    </div>

     <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <% if !user_signed_in?%>
                    
                    <%= link_to  "Sign up", new_user_registration_path, class:"button is-primary" %>
                    <%= link_to  "Log in", new_user_session_path, class:"button is-light" %>
                <% else %>   
                <%= link_to "Hello "+ current_user.email, edit_user_registration_path, class:"navbar-item"%>    
                    <%= link_to  "Log out", destroy_user_session_path, class:"button is-primary" %>
                <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>