<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Private Events", events_index_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <%= link_to  "My Events", users_show_path, class:"nav-link active" %>
    </div>
    <div class="navbar-nav">
      <% if user_signed_in?%>
        <a class="nav-item nav-link disabledq" href="#">Hello <%= current_user.email %></a>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-primary mr-2" %>
      <% else %>
      <%= link_to  "Login", new_user_session_path, class:"btn btn-outline-dark mr-2" %>
      <%= link_to  "Register", new_user_registration_path, class:"btn btn-primary mr-2" %>
      <% end %>
    </div>
  </div>
</nav>